pre{
    /*!*overflow: hidden;*!*/
    white-space: pre-wrap;       /* css-3 */
    /*overflow-y: auto;*/
    /*max-height: 100px;*/
    /*max-width: 350px;*/
}

#bookingCreateForm div{
    input: 350px;
}

.hidden {
    transition: all 2s ease-in-out;
}

.main-content{
    position: relative;
}

.f_overlay{
    position: fixed;
    right: 0;
    /*width: 350px;*/
    /*width: 10%;*/
    z-index: 15;
}

.f_overlay .alert{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.my-addon{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    /* color: #555; */
    text-align: center;
    /* background-color: #eee; */
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.my-flow{
    position: fixed;
    right: 10vw;
    bottom: 5vh;
}

.avatar-addon{
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    /* color: #555; */
    text-align: center;
    /* background-color: #eee; */
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.avatar{
    min-width: 30px;
    /*min-height: 20px;*/
}

@media (min-width: 768px) {
    .dl-horizontal dt{
    width: 20%;
    /*margin-right: 0px;*/
    }

    .dl-horizontal dd{
    margin-left: calc(20% + 20px);
    }
}

div.yui3-widget-ft.popover-footer{
    display: none;
}