pre{
    /*overflow: hidden;*/
    white-space: pre-wrap;       /* css-3 */
    overflow-y: auto;
    max-height: 100px;
    max-width: 350px;
}

#bookingCreateForm div{
    input: 350px;
}

.hidden {
    transition: all 2s ease-in-out;
}

.main-content{
    position: relative;
}
.f_overlay{
    position: fixed;
    right: 0;
    width: 350px;
}